<html>
<head>
	<script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous">
  </script>
	<script>
		var socket = io.connect('http://localhost:8080');
    socket.on('update', function(message) {
      console.log(message);
      $('marquee').text(message);
    });
	</script>
</head>
  <h3>Here is what the text says</h3>
  <marquee><%= text %></marquee>
</html>
